.rectangle-box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
}
.borderLeft{
    width: 606px;
    height: 2px;
    background: #F5F5F5;
    border-radius: 0px;
    margin-bottom: 10px;
}
.rectangle{
    background: rgba(253, 133, 88, 0.2);
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.borderRight{
    width: 606px;
    height: 2px;
    background: #F5F5F5;
    border-radius: 0px;
    margin-bottom: 10px;
}


        @media screen and (max-width:414px) {
                .rectangle-box{
                    display: none;
                }            
                
        }